<div class="container outer-wrapper">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>Select your favorite band</label>
        <select class="form-control" onchange={{action "setFavorite" value="target.value"}}>
          <option value="">---</option>
          {{#each bands as |band|}}
            <option value={{band.id}} selected={{eq favoriteBand.id band.id}}>{{band.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <strong>Selected band: </strong>
        <div>
          {{#if favoriteBand}}
            {{favoriteBand.name}}
          {{else}}
            None.
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{outlet}}
</div>


