<div class="container outer-wrapper">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>Select your favorite band</label>
        <select class="form-control" onchange={{action (mut favoriteBand) value="target.value"}}>
          {{#each bands as |band|}}
            <option value={{band}} selected={{eq favoriteBand band}}>{{band}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <strong>Selected band: </strong>
        <div>
          {{#if favoriteBand}}
            {{favoriteBand}}
          {{else}}
            None.
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{outlet}}
</div>


