<h3>Favorite band: {{favoriteBand}}</h3>

<select onchange={{action (mut favoriteBand) value="target.value"}}>
  {{#each bands as |bandChoice|}}
    <option value={{bandChoice}} selected={{eq favoriteBand band}}>{{bandChoice}}</option>
  {{/each}}
</select>

{{outlet}}
