{{#if favoriteBand}}
  <h3>Favorite band: {{favoriteBand}}</h3>
{{else}}
  <h3>No favorite band selected yet.</h3>
{{/if}}

<select onchange={{action (mut favoriteBand) value="target.value"}}>
  {{#each bands as |band|}}
    <option value={{band}} selected={{eq favoriteBand band}}>{{band}}</option>
  {{/each}}
</select>

{{outlet}}
