<h3>Favorite band: {{favoriteBand.name}}</h3>

<select onchange={{action "setFavoriteBand" value="target.value"}}>
  {{#each bands as |bandChoice|}}
    <option value={{bandChoice.id}} selected={{eq favoriteBand.id bandChoice.id}}>{{bandChoice.name}}</option>
  {{/each}}
</select>

{{outlet}}
